.main {
  display: flex;
  height: 100%;
  width: 100%;
  background: $primary-color;

  &__logo {
    width: 60%;

    .main__imageLogo {
      position: absolute;
      height: 100%;
      width: 60%;
      // background-image: url("images/clock.png");
      background-repeat: no-repeat;
      background-size: 79%;
      background-position-x: 0px;
    }
  }

  &__title-logo {
    position: absolute;
    display: block;
    top: 34%;
    margin-left: 13%;
    font-size: 120px;
    font-family: $font-family;
    color: $font-color;
    font-weight: 700;
  }

  &__quote {
    position: absolute;
    display: block;
    width: 25%;
    top: 45%;
    margin-top: 3%;
    margin-left: 13%;
    font-size: 30px;
    font-family: $font-family;
    color: $font-color;
    font-weight: 500;
    text-align: left;
  }

  &__form {
    width: 45%;
    align-items: center;

    .MuiContainer-root {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
    }
  }
}

.test-wrap {
  z-index: 100;
  position: absolute;
  bottom: 0;
}

.test {
  display: inline-block;
  position: relative;
  top: -205px;
  left: -760px;
  width: 1240px;
  height: 1240px;
  background-image: url("images/clock1.png");
  background-repeat: no-repeat;
  background-size: 23%;
  background-position-x: 70%;
  background-position-y: 60%;
}

.test div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 100px solid rgba(255, 255, 255, 0.205);
  opacity: 1;
  border-radius: 50%;
  animation: spiner 10s cubic-bezier(0, 0.2, 1, 1) infinite;
}

.test div:nth-child(1) {
  animation-delay: 33%;
}
.test div:nth-child(2) {
  animation-delay: 66%;
}
.test div:nth-child(3) {
  animation-delay: 99%;
}

@keyframes spiner {
  0% {
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    opacity: 1;
  }
  100% {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
  }
}
