.main {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background: $primary-color;

  &__logo {
    width: 60%;
    display: flex;
    text-align: center;

    .main__imageLogo {
      display: flex;
      position: absolute;
      height: 100%;
      width: 60%;
      background-image: url("images/clock.png");
      background-repeat: no-repeat;
      background-size: 79%;
      background-position-x: 0px;
    }
  }

  &__title-logo {
    position: absolute;
    display: block;
    top: 34%;
    margin-left: 13%;
    font-size: 120px;
    font-family: $font-family;
    color: white;
    font-weight: 700;
  }

  &__quote {
    position: absolute;
    display: block;
    width: 25%;
    top: 45%;
    margin-top: 3%;
    margin-left: 13%;
    font-size: 30px;
    font-family: $font-family;
    color: white;
    font-weight: 500;
    text-align: left;
  }

  &__form {
    width: 45%;
    align-items: center;

    .MuiContainer-root {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0;
    }
  }
}
