@import "../../../assets/variables.scss";

.subtitle {
  background-image: linear-gradient(10deg, white, $secondary-color, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}