.selected-task {
  padding: 15px 20px 0px 20px;

  &__header {
    display: flex;
    border: 1px solid #ccc;
    padding: 4px 0;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  &__item {
    padding: 5px 25px 5px 5px;
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__back {
    color: $secondary-color !important;
    height: 35px !important;
    width: 35px !important;

    & > svg {
      height: 20px !important;
      width: 20px !important;
    }
  }

  &__timer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__actions {
    width: 100%;
    display: flex;
    padding: 5px 15px 5px 15px;
  }

  &__user-list {
    width: 440px;
    height: 300px;

    &-container {
      position: relative;
      top: 200px;
    }

    &-wrapper {
      position: absolute;
      right: 220px;
      z-index: 1;
    }
  }

  &__modal > div {
    background-color: rgba($color: #000000, $alpha: 0.1);
    // background: radial-gradient(#5d5d5d68, #8a8a8a48);
  }

  .field {
    margin-bottom: 12px;
    color: rgb(115, 114, 114);
    display: flex;
    align-items: center;
    width: 330px;
    word-break: break-all;

    &__title {
      flex: 35%;
      display: flex;
      align-items: center;
    }

    &__icon {
      fill: $icon-color !important;
      flex: 10%;
      height: 24px !important;
      width: 24px !important;
    }

    &__value {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-left: 15px;
      flex: 55%;
    }
  }

  &__description {
    display: flex;
    align-items: center;

    &-icon {
      fill: $icon-color !important;
      margin-right: 8px;
    }

    &-textfield {
      margin-top: 15px;
    }
  }

  .MuiIconButton-root {
    .icon {
      position: absolute;
    }
  }
}

@media screen and (max-width: 890px) {
  .selected-task {
    padding: 0px 10px;

    &__header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      border: none;
    }

    &__item {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__divider {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .selected-task {
    &__item:first-child {
      margin-left: -17px;
      padding: 0px 0px;
    }
  }
}
