.task {
  padding: 0px 15px;
  display: flex;
  border-bottom: 1px solid $border-color;

  &__body {
    width: 90%;
    word-break: break-all;
    padding: 10px 0;
  }

  &__title {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  &__description {
    width: 80%;
    display: block;
  }

  &__actions {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &:hover {
    background-color: $light-tertiary;
  }
}

.selected {
  background-color: $dark-tertiary;
}

@media screen and (max-width: 690px) {
  .task {
    display: block;
    &__body {
      width: 100%;
    }
    &__actions {
      width: auto;
      justify-content: flex-start;
    }
  }
}
