@import "./variables.scss";
@import "./blocks/UI/index.scss";
@import "./blocks/task/index.scss";
@import "./blocks/spiner.scss";
@import "./blocks/form/form.scss";
@import "./blocks/user/index.scss";
@import "./blocks/signIn/index.scss";
@import "./blocks/sideBar/sideBar.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family;
}

#root {
  height: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.2s ease;
}

a:hover {
  color: $darken-primary-color;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiFormHelperText-root {
  margin: 0 !important;
  // height: 50px;
}

.MuiOutlinedInput-root {
  border-radius: 20px !important;
}

// .MuiOutlinedInput-root fieldset  {
//   border-color: $secondary-color !important;
// }

// .MuiOutlinedInput-root.Mui-focused fieldset  {
//   border-color: $darken-secondary-color !important;
// }
