@import "./variables.scss";
@import "./blocks/UI/index.scss";
@import "./blocks/task/index.scss";
@import "./blocks/spiner.scss";
@import "./blocks/form/form.scss";
@import "./blocks/user/index.scss";
@import "./blocks/signIn/index.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.2s ease;
}

a:hover {
  color: $darken-primary-color;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
}

.icon {
  fill: $primary-color;
  height: 35px;
  width: 35px;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .MuiButton-root {
//   border-radius: 20px !important;
// }

.MuiButton-root.MuiButton-sizeSmall {
  padding: 4px 10px !important;
}

.MuiOutlinedInput-root {
  border-radius: 20px !important;
}

.MuiInputBase-input.MuiInputBase-inputAdornedEnd {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.test {
  height: 360px;
  width: 440px;
}
