@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


$font-size: 14px;
$font-family: "Montserrat", sans-serif;


:root {
  --primary-color: #221c35;

  --secondary-color: #ad24fd;
  --darken-secondary-color: #ad24fd;

  --text-color: #fff;
  --darken-text-color: rgb(240, 238, 238);
}


$primary-color: var(--primary-color);


$secondary-color: var(--secondary-color);
$darken-secondary-color: var(--darken-secondary-color);


$text-color: var(--text-color);
$darken-text-color: var(--darken-text-color);